.navbars{
    display: flex;
    justify-content: center;
    padding: 0;
}
.navbars ul{
    display: flex;
    text-transform: capitalize;
    font-family: 'Marcellus SC',sans-serif;
    font-size: 12px;
    font-weight: bolder;
    padding-left: 0;
    justify-content: center;
}

.navbars ul li{
    list-style: none;
    position: relative;
    text-transform: uppercase;
}
.navbars ul li span{
    padding: 2px 5px;
    letter-spacing: 0px;
}
.navbars ul li::first-letter{
   font-size: 14px;
   font-weight: bolder;
}
.navbars ul li:hover ul{
    top: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 2px 2px 2px 2px rgb(139, 134, 134);
    padding: 20px 30px ;
}
.navbars ul li:hover span{
    color: rgb(248, 115, 70);
}
.navbars ul li ul{
    display: none;
    
}
.navbars ul li:hover span::before{
    content: '';
    position: absolute;
    top: 80%;
    width: 90%;
    height: 3px;
    background-color: tomato;
    animation: mymove 0.9s;
}
.navbars ul li:hover span::before{
    content: '';
    position: absolute;
    top: 80%;
    width: 90%;
    height: 3px;
    background-color: tomato;
    animation: mymove 0.9s;
}
.navbars ul li ul li:hover{
    color: rgb(248, 115, 70);
    
}
.navbars ul li ul li{
    padding: 2px 0px;
    align-items: start;
    
}

