.logobar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
   
}

.logobar img{
    width: 110px;
    height: 110px;
}
.logobar .menu{
    display: none;
}
.logobar .uss i{
    padding: 15px;
    justify-content: end;
}
.logobar .uss {
    display: flex;
    justify-content: end;
}
.logobar .logo{
    display: flex;
    justify-content: center;
    padding-left: 30%;
}
/*  */

@media screen and (max-width:992px){
.logobar .menu{
    display: block;
}
.logobar .hdn{
    display: none;
}
.logobar .logo{
    padding-left: 0;
}
}