*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-f{
    display: flex;
    align-items: center;
    font-family: 'Marcellus SC',sans-serif;
}
.social{
    background-color: rgb(56, 12, 19);
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.social i{
    font-size: 18px;
}
.social .contact span{
    padding-right: 15px;
}
.social .contact span i{
    padding-right: 10px;
}
.social .social-icons{
    display: flex;
    justify-content: end;
    align-items: center;
}
.social .social-icons i{
    padding: 10px;
}

@media screen and (max-width:768px){
    .social .contact span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social .social-icons{
        justify-content: center;
    }
    .social{
        font-size: 16px;
    }
    
    
}