.home{
    padding: 0;
    transform: translate();
}
.carousel-caption{
    top: 0;
}
.carousel-caption-card{
    background-color: rgba(248, 248, 248, 0.726);
    display: inline-block;
    padding: 50px;
    border-radius: 20px;
}
.homeproducts{
    text-align: center;
}

@media screen and (max-width:680px){
    .carousel-caption-card{
        padding: 5px 10px;
    }
    
}

/* Products */
/* Products PR TWO */

.pr-two {
 margin-bottom: 10px;
}
.pr-two img{
 width: 100%;
}