.drawer{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width:270px;
    overflow-y: scroll;
    background-color: white;
    z-index: 10001;
    
}
.drawer ul{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.drawer ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 30px 10px 10px;
    
}

.drawer ul li .dr-btn *{
    padding-right:10px;
}


