*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-f{
    display: flex;
    align-items: center;
}
.social{
    background-color: rgb(56, 12, 19);
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.social .contact span{
    padding-right: 15px;
}
.social .contact span i{
    padding-right: 10px;
}
.social .social-icons{
    display: flex;
    justify-content: end;
    align-items: center;
}
.social .social-icons i{
    padding: 10px;
}
.logobar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    
}
.logobar img{
    width: 150px;
    height: 150px;
}
.logobar .menu{
    display: none;
}
.logobar .uss i{
    padding: 15px;
    justify-content: end;
}
.logobar .uss {
    display: flex;
    justify-content: end;
}
.logobar .logo{
    display: flex;
    justify-content: center;
    padding-left: 30%;
}


@media screen and (min-width:768px){
    .nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav ul{
        display: flex;
        font-size: 13px;
        text-transform: capitalize;
        font-family: 'Marcellus SC',sans-serif;
        align-items: center;
        justify-content: center;
    }
    
    .nav ul li{
        list-style: none;
        padding: 2px 5px;
        position: relative;
        text-transform: uppercase;
    }
    .nav ul li::first-letter{
        font-size: 14px;
        font-weight: 200;
    }
    .nav ul li:hover ul{
        top: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        box-shadow: 2px 2px 2px 2px rgb(139, 134, 134);
        width: 200px;
        left: -30px;
        align-items: flex-start;
    }
    .nav ul li:hover span{
        color: rgb(248, 115, 70);
    }
    .nav ul li ul{
        display: none;
        
    }
    .nav ul li:hover span::before{
        content: '';
        position: absolute;
        top: 80%;
        width: 90%;
        height: 3px;
        background-color: tomato;
        animation: mymove 0.9s;
    }
    .nav ul li:hover span::before{
        content: '';
        position: absolute;
        top: 80%;
        width: 90%;
        height: 3px;
        background-color: tomato;
        animation: mymove 0.9s;
    }
    .nav ul li ul li:hover{
        color: rgb(248, 115, 70);
    }
   
    
    
    @keyframes mymove {
        0%   {width: 0px;}
        100% {width: 90%;}
      }
}
/* @media screen and (max-width:768px){
    .social .contact span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social .social-icons{
        justify-content: center;
    }
    .logobar .menu{
        display: block;
    }
    .logobar .hdn{
        display: none;
    }
    .logobar .logo{
        padding-left: 0;
    }
    .nav ul{
        display: flex;
        position: absolute;
        top: 0;
        flex-direction: column;
        z-index: 10;
        background-color: white;
        left: 0;
    }
    .nav ul li ul{
        display: none;
        
    }
    .nav ul li{
        list-style: none;
        padding: 10px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        align-items: center;
        width: 250px;
    }
    .nav ul li i{
        transform: rotate(-90deg);
    }
    .nav ul hr{
        width: 100%;
        margin: 0;
    }
    .nav ul .cls{
        justify-content: start;
    }
    .nav ul .cls i{
        display: flex;
        padding-right: 10px;
        font-size: 14px;
        align-items: center;
    }
} */